/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
  height: auto;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  margin: 10px;
  display: inline-block;
}

.item-double {
  flex: 2;
  display: inline-block;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
  flex: 1;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1;
  justify-content: center; /* Center the navigation items for mobile view */
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li:first-child {
  margin-left: 0;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
  display: flex;
  flex-wrap: wrap; /* Allow elements to wrap to the next line if necessary */
  justify-content: space-between;
}

form label {
  font-weight: bold;
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
  margin-bottom: 10px;
}

/* Create div containers to wrap the form elements */
.form-field {
  flex: 1;
  margin-left: 5px; /* Add margin left to create space horizontally */
  margin-right: 5px; /* Add margin right to create space horizontally */
  width: 100%;
}

form select,
form input {
  width: 100%;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 18px;
  padding: 10px 40px;
  flex: 0 0 auto; /* Keep the "Search" button from growing, and let it take its initial size */
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
  text-align: center;
}

footer p {
  color: #fff;
  padding: 20px;
  margin: 0;
}

/* -------  Media Queries ------- */

@media screen and (max-width: 480px) {
  /* Mobile View */

  /* Adjust form fields alignment for mobile view */
  .form-row {
    display: block;
    margin-bottom: 10px;
  }

  form select,
  form input {
    width: 100%;
    margin: 0;
  }

  /* Remove grid layout for "Ideas" section */
  #ideas .group {
    grid-template-columns: auto;
  }
}

@media screen and (min-width: 481px) {
  /* Tablet and Desktop View */

  /* Align logo and navigation menu */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Horizontal alignment of form input fields and button */
  #stay form {
    flex-direction: row;
    align-items: center;
  }

  form label {
    width: auto;
    margin-bottom: 0;
  }

  /* Horizontal alignment of items in "About" section */
  #about .group {
    flex-direction: row;
  }

  #about img,
  #about p {
    max-width: 50%; /* Make each item about twice as wide as images */
    margin-bottom: 0;
  }

  /* Horizontal alignment of items in "Host" section */
  #host .group {
    flex-direction: row;
  }

  #host .item,
  #host .item-double {
    margin: 0; /* Reset margin for horizontal alignment */
    flex: 1; /* Equal width for items */
  }

  #host p {
    margin-top: 0; /* Reset margin for paragraph content */
    margin-bottom: 10px;
  }

  /* Rearrange the order of items for desktop view */
  #host .group {
    flex-direction: row;
  }
}
